.logo {
    width: 126px;
    /*height: 31px;*/
    height: auto;
    /*background: rgba(255, 255, 255, 0.2);*/
    margin: 13px 18px 0 0;
    float: left;
}

.logo-plus {
    width: 140px;
    /*height: 31px;*/
    height: auto;
    /*background: rgba(255, 255, 255, 0.2);*/
    margin: 13px 18px 0 0;
    float: left;
}

.mobile-drawer {
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.mobile-drawer .am-drawer-sidebar {
    background-color: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.mobile-drawer .am-drawer-sidebar .am-list {
    width: 300px;
    padding: 0;
}