.home {
    background-image: url("/home-background.jpeg");
    background-position: center;
    background-size: cover;

    height: 100%;
    animation: blur 2s forwards;
    /*transform: scale(1.1);*/

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@keyframes blur {
    0% {
        filter: blur(0px);
        transform: scale(1);
    }

    100% {
        filter: blur(15px);
        /*transform: scale(1.1);*/
    }
}

.center {
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.center-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    /*align-content: center;*/
    width: 35%;
    /*height: 40%;*/
    /*margin: 10% auto auto;*/
    /*align-content: center;*/
    /*margin: auto;*/


    margin: 0;
    position: fixed;
    top: 40%;
    transform: translateY(-50%) translateX(100%);
    box-shadow: 2px 2px 15px 0 rgba(255,255,255,0.3);
}

.button {
    margin-top: 15px;
    margin-bottom: -15px;
}

.static-text {
    text-align: center;
}
